@import "tailwindcss";
@import "swiper/css/bundle";

:root {
  /*Custom font*/
  --title-font: "Montserrat", sans-serif;
  --content-font: "Open Sans", sans-serif;

  /*Custom color*/
  --primary-color: #c3a07e;
  --light-primary-color: #d6b285;
  --light-white: #ffffff;
  --dark-white: #f0f0f0;
  --light-black: #2f2f2f;
  --dark-black: #272727;
  --grey: #d0d0d0;

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--content-font);
  letter-spacing: 1px;
  background-color: var(--light-white);
  color: var(--dark-black);
}

.nav-link {
  text-decoration: none;
  padding: 10px 0px 16px 0px;
  margin: 0px 10px;
  position: relative;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #c3a07e;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.nav-link-grow-up::before {
  height: 0%;
  width: 100%;
  bottom: 0px;
}

.nav-link-grow-up:hover::before {
  height: 5px;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* Tạo các lớp tiện ích cho tailwind*/
@layer utilities {
  .font-title {
    font-family: var(--title-font);
  }

  .font-content {
    font-family: var(--content-font);
  }
}
